@{
    ViewBag.Title = "IndexBorrow";
}

<h2>Logged in</h2>
<input type="button" name="BtnLogOut" value="Log out" />
<br />
<label>Currently borrowed books:</label>

<br />
<select name="LIborrow" size="5">
    <option>Hej</option>
    <option>Hej1</option>
    <option>Hej2</option>
</select>
<br />
<label>To renew a loan choose the book you want to renew the loan on then choose a time period then press "Renew Loan"</label>
<br />
<label>Days:</label>
<input type="text" name="TBamountOfDays" />
<input type="button" name="BtnRenew" value="Renew Loan" />