@{
    ViewBag.Title = "IndexAdmin";
}

<h2>IndexAdmin</h2>

@using (Html.BeginForm("Admin","Admin",FormMethod.Get))
{
    <input type="button" name="btnManageAuthors" value="Manage Authors" />
    <input type="button" name="btnManageBorrowers" value="Mange Borrowers" />
    <input type="button" name="btnManageBooks" value="Manage Books" />
}